.Header {
    height: 115px;
    border: solid 1px black;
    background-color: rgb(150, 152, 158);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-area: h;
  }

  .Header img {
      height: 110px;
      padding: 2px;
  }

  .Header .in {
      display: block;
      float: right;
      height: 20px;
  }

  .Header .in input {
      width: 150px;
      margin: 8px;
  }

  .Header .in h3 {
      color: rgb(75, 33, 3);
  }